alembic==0.8.10
eventlet==0.20.1
flask-alchemydumps==0.0.10
flask-bcrypt==0.7.1
flask-login==0.4.0
flask-migrate==2.0.2
flask-script==2.0.5
flask-session==0.3.0
flask-sqlalchemy==2.1
flask==0.12
gunicorn==19.6.0
jinja2==2.9.5
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.10
simplejson==3.10.0
sqlalchemy==1.1.5
