alembic==0.9.1
eventlet==0.21.0
flask-alchemydumps==0.0.10
flask-bcrypt==0.7.1
flask-login==0.4.0
flask-migrate==2.0.3
flask-script==2.0.5
flask-session==0.3.1
flask-sqlalchemy==2.2
flask==0.12.1
jinja2==2.9.6
psycopg2==2.7.1
python-dateutil==2.6.0
pytz==2017.2
simplejson==3.10.0
sqlalchemy==1.1.9
uwsgi==2.0.15
